# ---- Python ----
venv/
.env
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/

# Jupyter & cache
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.dmypy.json
.cache/

# ---- Node / React / TypeScript ----
node_modules/
dist/
build/
coverage/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ---- OS / Editor ----
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# ---- Misc ----
*.log
